<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container-fluid">
         <nav>
           <a class="navbar-brand" <%= link_to "StackOverflow", root_path %></a>

           <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "Help",   '#' %></li>
             <li><%= link_to "Sign Up",new_user_path %></li>
             <li><%= link_to "Log in", new_session_path %></li>
           </ul>
         </nav>
       </div>
     </header>

    <div class="container-fluid">

      <div class="row yieldmargin">
        <%= yield %>
      </div>

      <div class="row userheader">
       <% if current_user %>
          Logged in as <%= current_user.email%>
          <%=link_to "logout", logout_path %>
       <%end%>
      </div>
    </div>
   </body>
</html>
